<span class="ma__decorative-link">
  <a
    href="{{decorativeLink.href}}"
    class="js-clickable-link"
    title="{{ decorativeLink.info }}"{% if decorativeLink.context %} aria-describedby="{{ decorativeLink.context }}"{% endif %}>{{decorativeLink.text}}&nbsp;{{ icon('arrow') }}</a>
</span>
