<span class="ma__decorative-link">
  <a
    href="{{decorativeLink.href}}"
    class="js-clickable-link"
    title="{{ decorativeLink.info }}">{{decorativeLink.text}}{% if decorativeLink.context %} <span class="ma__visually-hidden">{{decorativeLink.context}}</span>{% endif %}&nbsp;{{ icon('arrow') }}</a>
</span>
