{# Use variable if provided; otherwise, default differs between headers and non-headers. #}
{% set bgColor = campaignVideo.backgroundColor ?? campaignVideo.isHeader ? 'bay-blue' : 'white' %}

{# Automatically set text color based on background color. Update the array with new dark background colors when needed. #}
{% set lightTextClass = bgColor in ['bay-blue', 'berkshires-green'] ? 'ma__campaign-video--light-text' : null %}
{% set headingLevel = campaignVideo.isHeader ? '1' : '2' %}
{% set videoBgClass = campaignVideo.noVideoBg ? 'ma__campaign-video--no-video-bg' : null %}

{% set classes = [
  'ma__campaign-video',
  'ma__campaign-video--bg-' ~ bgColor,
  lightTextClass,
  videoBgClass,
] %}


<section id="{{campaignVideo.id}}" class="{{ classes|join(' ') }}">

  <div class="ma__campaign-video__wrapper">
    <h{{headingLevel}} class="ma__campaign-video__title">{{ campaignVideo.title }}</h{{headingLevel}}>
  
    {% if campaignVideo.description %}
    <div class="ma__campaign-video__description">{{ campaignVideo.description }}</div>
    {% endif %}
    
    <div class="ma__campaign-video__video">
      {% set video = campaignVideo.video %}
      {% include "@atoms/09-media/video.twig" %}
    </div>
  </div>

</section>
