{% set textColor = campaignVideo.textColor %}
{% set bgColor = campaignVideo.backgroundColor %}


<section id="{{campaignVideo.id}}" class="ma__campaign-video {{ textColor ? 'ma__campaign-video--light-text' : '' }}{% if bgColor %} ma__campaign-video--{{ bgColor }}{% endif %}">

  <div class="ma__campaign-video--wrapper">
    {% set headingLevel = campaignVideo.positionTop ? 1 : 2 %}
    <h{{ headingLevel }} class="ma__campaign-video--title">{{ campaignVideo.title }}</h{{ headingLevel }}>
  
    {% if campaignVideo.description %}
    <div class="ma__campaign-video--description">{{ campaignVideo.description }}</div>
    {% endif %}
    
    <div class="ma__campaign-video--video">
      {% set video = campaignVideo.video %}
      {% include "@atoms/09-media/video.twig" %}
    </div>
  </div>

</section>
