{% set theme = keyMessage.theme %}
{% set bgColor = keyMessage.backgroundColor %}
{% set bgImage = keyMessage.bgImage %}
{% set buttonTheme = keyMessage.buttonTheme %}

<section id="{{keyMessage.id}}"  class="ma__key-message {{ theme ? 'ma__key-message--light' : '' }}{% if bgColor %} ma__key-message--{{ bgColor }}{% endif %}{% if bgImage %} ma__key-message--image{% endif %}">

  {% if keyMessage.bgImage %}
    <style>
      #{{ keyMessage.id }}.ma__key-message--image .ma__key-message__image {
        background-image: url('{{ keyMessage.bgImage }}');
      }

      {% if keyMessage.mobileBgImage %}
      @media (-webkit-min-device-pixel-ratio: 2) {
        #{{ keyMessage.id }}.ma__key-message--image .ma__key-message__image {
          background-image: url('{{ keyMessage.mobileBgImage }}');
        }
      }
      {% endif %}
    </style>
    {# Including an empty span with the required alt text for the background image #}
    <div class="ma__key-message__image" role="img" aria-label="{{ keyMessage.bgImageAlt }}"></div>
  {% endif %}

  <div class="ma__key-message__wrapper">
    {% set headingLevel = keyMessage.isHeader ? 1 : keyMessage.compHeading.level %}
    <h{{ headingLevel }} class="ma__key-message--title">{{ keyMessage.compHeading.title }}</h{{ headingLevel }}>

    {% if keyMessage.subtitle %}
    <h3 class="ma__key-message__sub-title">{{ keyMessage.subtitle }}</h3>
    {% endif %}

    {% if keyMessage.description %}
    <p class="ma__key-message__description">{{ keyMessage.description }}</p>
    {% endif %}

    {% if keyMessage.button.text %}
    <div class="ma__key-message__cta{% if buttonTheme %} button--{{buttonTheme}}{% endif %}">
      {% set button = keyMessage.button %}
      {% include "@atoms/01-buttons/button.twig" %}
    </div>
    {% endif %}
  </div>

</section>
