<div class="ma__org-nav-contact-us">
  <div class="ma__org-nav-contact-us__contact-row">
  {% block contactTopRow %}
    {% set contactRow = orgMenuContactRow %}
    {% include "@organisms/by-author/contact-row.twig" %}
  {% endblock %}
  </div>
  <div class="ma__org-nav-contact-us__custom-options">
    {% block findContact %}
      {% if customItems.findContact.link.href %}
        <div class="custom-options__find-contact custom-option-item">
        <span class="custom-option-item__label">{{ icon(customItems.findContact.icon) }} {{ customItems.findContact.title }}</span>
        <a href="{{ customItems.findContact.link.href }}">{{ customItems.findContact.link.text }}</a>
        </div>
      {% endif %}
    {% endblock %}

    {% block getUpdates %}
      {% if  customItems.newsletter.link.href %}
        <div class="custom-options__get-updates custom-option-item">
        <span class="custom-option-item__label">{{ icon(customItems.newsletter.icon) }} {{ customItems.newsletter.title }}</span>
        
        <a href="{{ customItems.newsletter.link.href }}">{{ customItems.newsletter.link.text }}</a>
        </div>  
      {% endif %}
    {% endblock %}

    {% block recordsRequest %}
      {% if customItems.publicRecords.link.href %}
        <div class="custom-options__prr custom-option-item">
        <span class="custom-option-item__label">{{ icon(customItems.publicRecords.icon) }} {{ customItems.publicRecords.title }}</span>
        <a href="{{ customItems.publicRecords.link.href }}">{{ customItems.publicRecords.link.text }}</a>
        </div>
      {% endif %}
    {% endblock %}
  </div>
</div> 
