{% set headerIndent =  richText.headerIndent ? ' js-ma-outline-indent' : '' %}
{% set anchorLinks = richText.anchorLinks ? ' js-ma-insert-heading-anchors' : '' %}

<section class="ma__rich-text js-ma-rich-text{{headerIndent}}{{anchorLinks}}">
  {% if richText.compHeading %}
    {% set compHeading = richText.compHeading %}
    {% include "@atoms/04-headings/comp-heading.twig" %}
  {% endif %}

  {% if richText.sidebarHeading %}
    {% set sidebarHeading = richText.sidebarHeading %}
    {% include "@atoms/04-headings/sidebar-heading.twig" %}
  {% endif %}

  {# use this block to render your own content (see pattern docs) #}
  {% block rteElements %}
{# {{ dump(ritchText.rteElements) }} #}
    {% for element in richText.rteElements %}

<h5 style="color: orange;">[TEMPLATE: rich-text.twig] element.path:  {{ element.path }}</h5>
<h5>element.data</h5>
{{ element.data }}
{# <h5>element.data.rawHtml</h5> #}
{# {{ dump(element.data.rawHtml) }} #}
{# <h5>element.data.rawHtml.</h5>
{{ dump(element.data.rawHtml) }} #}
{# <hr>
{% for item in element.data.rawHtml.content %}
  {{ item }}<br />
  <p style="color: red;">END OF ITEM</p>
{% endfor %}
<hr> #}
      {% include element.path with element.data %}
    {% endfor %}
  {% endblock %}

  {% if richText.decorativeLink %}
    <div class="ma__rich-text__more">
      {% set decorativeLink = richText.decorativeLink %}
      {% include "@atoms/decorative-link.twig" %}
    </div>
  {% endif %}
</section>
