<p style="color: red; font-weight: bold;">TEMPLATE: rich-text.twig</p>

{% set headerIndent =  richText.headerIndent ? ' js-ma-outline-indent' : '' %}
{% set anchorLinks = richText.anchorLinks ? ' js-ma-insert-heading-anchors' : '' %}

<section class="ma__rich-text js-ma-rich-text{{headerIndent}}{{anchorLinks}}">
  {% if richText.compHeading %}
    {% set compHeading = richText.compHeading %}
    {% include "@atoms/04-headings/comp-heading.twig" %}
  {% endif %}

  {% if richText.sidebarHeading %}
    {% set sidebarHeading = richText.sidebarHeading %}
    {% include "@atoms/04-headings/sidebar-heading.twig" %}
  {% endif %}

  {# use this block to render your own content (see pattern docs) #}
  {% block rteElements %}
    {% for element in richText.rteElements %}
{# {{ dump(element) }} #}
{# <h5>DUMP: element.data.rawHTML</h5>
{{ dump(element.data.rawHtml) }} #}
<h5>PRINT: element.data.rawHTML.content["#text"]</h5>
{{ element.data.rawHtml.content["#text"] }}

      {% include "@atoms/html.twig" with element.data %}

      {# {% include element.path with element.data %} #}
    {% endfor %}
  {% endblock %}

  {% if richText.decorativeLink %}
    <div class="ma__rich-text__more">
      {% set decorativeLink = richText.decorativeLink %}
      {% include "@atoms/decorative-link.twig" %}
    </div>
  {% endif %}
</section>

<p style="color: red; font-weight: bold;">TEMPLATE-END: rich-text.twig</p>
