{# use the level passed, the gloval level, or the default #}
{% set headingLevel = listingTable.compHeading.level ? : 2 %}
<div class="ma__listing-table">
  {% if listingTable.compHeading %}
    {% set compHeading = listingTable.compHeading %}
    {% include "@atoms/04-headings/comp-heading.twig" %}
  {% endif %}

  {% set headingLevel = headingLevel + 1 %}
  <ul class="ma__listing-table__container">
    {% for row in listingTable.rows %}
      <li>
        <h{{ headingLevel }} class="ma__listing-table__list-title">{{ row.label }}</h{{ headingLevel }}>
        {% if row.text %}
          {% set row = row|merge({'items': [{
            "text": row.text
          }]}) %}
        {% endif %}
        {# Configure the accordion functionality. #}
        {% if row.items %}
          {# Get configured number of visible items. #}
          {% set visibleItems = row.visibleItems ?: 2 %}
          {# Determine if we need an accordion. #}
          {% if row.items|length > visibleItems %}
            {% set inlineAccordion = true %}
            {% set accordionClass = " js-accordion" %}
            {# Get the value of the show/hide button text. #}
            {% set moreLabel = row.moreLabel ?: "show more" %}
            {% set lessLabel = row.lessLabel ?: "show less" %}
          {% endif %}

          <div class="ma__rich-text{{ accordionClass }}">
            {% if inlineAccordion %}
              {# Separate items into visible + extra for accordion. #}
              {% for item in row.items[:visibleItems] %}
                <span class="ma__listing-table__data-item">{{ item.text|raw }}</span>
              {% endfor %}
              <div class="ma__listing-table__extra js-accordion-content">
                {% for item in row.items[visibleItems:last] %}
                  <span class="ma__listing-table__data-item">{{ item.text|raw }}</span>
                {% endfor %}
              </div>
              <div class="ma__listing-table__expand">
                <button type="button" class="js-accordion-link" aria-expanded="false">
                  <span class="open">{{ moreLabel }}</span><span class="close">{{ lessLabel }}</span>
                </button>
              </div>
            {% else %}
              {# Show all items with no accordion. #}
              {% for item in row.items %}
                <span class="ma__listing-table__data-item">{{ item.text|raw }}</span>
              {% endfor %}
            {% endif %}
          </div>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>
