<div class="ma__pagination js-pagination true">
  <nav class="ma__pagination__container" aria-label="Pagination Navigation">
    <a 
      class="ma__pagination__prev js-pagination-prev {% if pagination.prev.disabled %}disabled{% endif %}"
      {% if pagination.prev.disabled %}aria-disabled="true" {% else %}
      aria-label="Go to {{ pagination.prev.text }} page"{% endif %}
      href="#">{{ pagination.prev.text }}<span class="visually-hidden"> page</span></a>

    {% for page in pagination.pages %}
      {% if page.text == "spacer" %}
        <span class="ma__pagination__spacer">&hellip;</span>
      {% else %}

      <a class="ma__pagination__page js-pagination-page {{ page.active ? 'is-active' : '' }}" 
        href="#" 
        data-page="{{ page.text }}" 
        {% if page.active %} aria-label="Currently on Page {{ page.text }}" 
        {% else %}  aria-label="Go to Page {{ page.text }}" {% endif %} 
      >
        <span class="visually-hidden">page </span>{{ page.text }}
      </a>

      {% endif %}
    {% endfor %}

    <a
      class="ma__pagination__next js-pagination-next {% if pagination.next.disabled %}disabled{% endif %}"
      {% if pagination.next.disabled %}aria-disabled="true" {% else %}
      aria-label="Go to {{ pagination.next.text }} page"{% endif %}
      href="#">{{ pagination.next.text }}<span class="visually-hidden"> page</span></a>
  </nav>
</div>
