{% set figureClass = figure.align ? "ma__figure--" ~ figure.align : "" %}
{% set iframeClass = "ma__iframe__container js-ma-responsive-iframe" %}

{# Dataviz embed iframe #}
{# iframe element is generaged by Tableau JS. #}
{% if figure.dataviz %}
  {% set id = figure.dataviz.id %}
  {% set src = figure.dataviz.src %}
  {# TODO:  SET SIZE VALUES #}
  {% set size = "ma__figure--" ~ figure.dataviz.size %}
{% endif %}

{# <figure class="ma__figure {{ figureClass }}"> #}

<figure class="ma__figure {{ figureClass }}{% if figure.iframe %} {{ iframeClass }}{% endif %}{% if figure.dataviz %} {{ size }} ma__dataviz{% endif %}"{% if figure.dataviz %} id="{{ id }}"{% endif %}>


  {% if figure.title %}
  <span class="ma__figure__title">
    {{ figure.title }}
  </span>
  {% endif %}

  {# For image. #}
  {% if figure.image %}
    {% set image = figure.image %}
    {% include "@atoms/09-media/image.twig" %}
  {% endif %}
  {# For iframe. #}
  {% if figure.iframe %}
    {% set iframe = figure.iframe %}
    {# Regular iframe #}
    {% include "@atoms/09-media/iframe.twig" %}
  {% endif %}

  {% if figure.caption %}
    <figcaption class="ma__figure__caption">
      {{ figure.caption }}
    </figcaption>
  {% endif %}
</figure>

{% if figure.dataviz %}
<script type="text/javascript">
  window.addEventListener("DOMContentLoaded", function() {
    const url = "{{ src }}"
    new tableau.Viz(document.getElementById("{{ id }}"), url);
  });
</script>

<script>
    // Selecting the iframe element
    var iframe = document.getElementById("{{ id }}");

    // Adjusting the iframe height onload event
    iframe.onload = function(){
        iframe.style.height = iframe.contentWindow.document.body.scrollHeight + 'px';
    }
    </script>
{% endif %}
