{% set alignmentClass = figure.align ? " ma__figure--" ~ figure.align : "" %}
<figure class="ma__figure{{ alignmentClass }}{{ figure.class ? " "~ figure.class : "" }}">
  {% if figure.title %}
  <span class="ma__figure__title">
    {{ figure.title }}
  </span>
  {% endif %}
  {{ figure.content }}
  {% if figure.caption %}
    <figcaption class="ma__figure__caption">
    {{ figure.caption }}
    </figcaption>
  {% endif %}
</figure>
