<div class="ma__tableau">
  <div class='tableauPlaceholder' id='{{ tableau.id }}' style='position: relative'>
    <object class='tableauViz'  style='display:none;'>
      <param name='host_url' value='{{ tableau.url }}' />
      <param name='embed_code_version' value='3' />
      <param name='site_root' value='' />
      <param name='name' value='{{ tableau.name }}' />
      <param name='tabs' value='no' />
      <param name='toolbar' value='yes' />
      <param name='animate_transition' value='yes' />
      <param name='display_spinner' value='yes' />
      <param name='display_overlay' value='yes' />
      <param name='display_count' value='yes' />
    </object>
  </div>

  {% if tableau.caption %}
    <figcaption class="ma__figure__caption ma__tableau__caption">
      {{ tableau.caption }}
    </figcaption>
  {% endif %}
</div>

<script type='text/javascript'>
    var divElement = document.getElementById('{{ tableau.id }}');
    var vizElement = divElement.getElementsByTagName('object')[0];
    vizElement.style.width='100%';
    vizElement.style.height=(divElement.offsetWidth*0.75)+'px';
    var scriptElement = document.createElement('script');
    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
    vizElement.parentNode.insertBefore(scriptElement, vizElement);
</script>