<div class="ma__mass-feedback-form thank-you-panel">
  <legend>{{ title }}</legend>
  <p>{{ description }}</p>
  <span class="ma__decorative-link">
    <a href="{{ link.href }}">{{ link.text }}&nbsp;{{ icon('arrow') }}</a>
  </span>
</div>
