<!DOCTYPE html>
<html class="{{ htmlClass }} no-js" lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preload" href="../../assets/fonts/texta-black-webfont.woff2" as="font" crossorigin />
    <link rel="preload" href="../../assets/fonts/texta-bold-webfont.woff2" as="font"  crossorigin />
    <link rel="preload" href="../../assets/fonts/texta-book-webfont.woff2" as="font"  crossorigin />

    <link rel="stylesheet" href="../../assets/css/index-generated.css?{{ cacheBuster }}" media="all" />

    <script src="../../assets/js/vendor/modernizr.js"></script>

    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{ patternLabHead | raw }}
    <!-- this file is just for pattern lab style guide styling -->
    <link rel="stylesheet" href="../../assets/css/pattern-scaffolding-generated.css?{{ cacheBuster }}" media="all" />
    <!-- End Pattern Lab -->
{#
  SITE LEVEL DATA:
  WEBSITE
  - add to home (front) page only.
  - about can be added when its content is ready.
  - keywords can be added when its content is ready.
#}
{% if schemaPageType == "Home" %}
    <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "WebSite",
          "url": "https://mayflower.digital.mass.gov/patternlab",
          "name": "Mass.gov",
          "alternateName": "The Official Website of the Commonwealth of Massachusetts", {#
          "about": "~NEED CONTENT~",#}
          "copyrightHolder": "Commonwealth of Massachusetts", {#
          "keywords": "state government, ~OTHERS TO ADD: Keywords or tags used to describe this content. Multiple entries in a keywords list are typically delimited by commas.~",#}
          "potentialAction": {
             "@type": "SearchAction",
             "target": "https://search.mass.gov/?q={search_term_string}&post_type=post",
             "query-input": "required name=search_term_string"}
        }
    </script>
{% endif %}
{#
  SITE LEVEL COMMON DATA:
  ORGANIZATION
  - alternateName can be added later if helpful.
#}
    <script type="application/ld+json">
      {
          "@context": "http://schema.org",
          "@type": "Organization",
          "@id": "https://mayflower.digital.mass.gov/patternlab/#organization",
          "url": "https://mayflower.digital.mass.gov/patternlab,
          "logo": "https://mayflower.digital.mass.gov/patternlab/assets/images/stateseal-color.png' }}",
          "name": "Commonwealth of Massachusetts",
          "sameAs": [
            "https://www.facebook.com/massgov/",
            "https://twitter.com/massgov/",
            "https://www.linkedin.com/company/commonwealth-of-massachusetts/",
            "https://www.youtube.com/user/massgov/",
            "https://www.instagram.com/massgov/"
            ]
      }
    </script>
{#
  SITE LEVEL COMMON DATA:
  PAGE STRUCTURE - they match with the ids assigned to the area elements in the <body>.
  - header area
  - footer area
  - main navigation area
#}
    <script type="application/ld+json">
      {
          "@context": "http://schema.org",
          "@type": "WPHeader",
          "@id": "https://mayflower.digital.mass.gov/patternlab#header' }}"
      }
    </script>
    <script type="application/ld+json">
      {
          "@context": "http://schema.org",
          "@type": "WPFooter",
          "@id": "https://mayflower.digital.mass.gov/patternlab#footer' }}"
      }
    </script>
    <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "SiteNavigationElement",
          "@id": "https://mayflower.digital.mass.gov/patternlab#main-navigation'}}"
        }
    </script>


    {#
      GA for testing Google Optimize
    #}
    <script>
      (function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
        h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
        (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
      })(window,document.documentElement,'async-hide','dataLayer',2000,
        {'GTM-TBBFWGN':true});
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-12471675-5', 'auto');
      ga('require', 'GTM-TBBFWGN');
    </script>
  </head>
  <body class="{{ bodyClass }}" vocab="http://schema.org/" typeof="WebPage">
